:root {
    /* Colors */
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --light-dark-blue: hsl(215, 16%, 21%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);

    /* Typography */
    /* Font size */
    --paragraph: 1.5rem;
    /* Font weight */
    --regular: 400;
    --bold: 700;
}

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Overpass', sans-serif;
    font-size: 62.5%;
}

body {
    background-color: var(--very-dark-blue);
    padding: 0 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {  
    background: rgb(24,30,36);
    background: linear-gradient(360deg, rgba(24,30,36,1) 0%, rgba(37,45,55,1) 72%);
    min-width: 250px;
    max-width: 375px;
    height: 400px;
    padding: 35px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__icon {
    background-color: var(--light-dark-blue);
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__title {
    color: var(--white);
    font-size: 2.5rem;
    font-weight: var(--bold);
}

.card__text {
    color: var(--medium-grey);
    font-size: var(--paragraph);
    line-height: 2rem;
}

.card__rate {
    display: flex;
    justify-content: space-between;
}

.card__rate--active {
    width: 45px;
    height: 45px;
    background-color: var(--light-dark-blue);
    border-style: none;
    border-radius: 50%;
    color: var(--medium-grey);
}

.card__rate--active:hover {
    cursor: pointer;
    background-color: var(--orange);
    color: var(--white);
}
.active, .card__rate--active:active {
    background-color: var(--medium-grey);
    color: var(--white);
}

.card__submit {
    height: 45px;
    border-style: none;
    border-radius: 50px;
    background-color: var(--orange);
    color: var(--white);
    letter-spacing: .4rem;
}

.card__submit:hover {
    cursor: pointer;
    background-color: var(--white);
    color: var(--orange);
}
.card__submit:active {
    background-color: var(--white);
    color: var(--orange);
}

/* THANK YOU CARD */

.thank-you {
    background: rgb(24,30,36);
    background: linear-gradient(360deg, rgba(24,30,36,1) 0%, rgba(37,45,55,1) 72%);
    min-width: 250px;
    max-width: 375px;
    height: 400px;
    padding: 35px 35px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.thank-you__selected {
    color: var(--orange);
    background-color: var(--light-dark-blue);
    font-size: var(--paragraph);
    height: 35px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.thank-you__title {
    color: var(--white);
    font-size: 2.5rem;
    font-weight: var(--bold);
}

.thank-you__text {
    color: var(--medium-grey);
    font-size: var(--paragraph);
    line-height: 2rem;
    text-align: center;
}

@media screen and (max-width: 345px) {
    .card__rate--active {
        height: 35px;
        width: 35px;
    }
}